/* Login css styles */
/* TODOS: */
.log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form {
  max-width: 250px;
  height: auto;
  width: 100%;
  padding: 50px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  background: linear-gradient(135deg, #851538 0%, #4a148c 100%);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.login-form h1 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
}

.login-form input {
  padding: 10px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 16px;
}

.login-form button {
  padding: 12px;
  background-color: #706d6d;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.hr-lines-login {
  position: relative; /* Needed for positioning the pseudo-elements */
  text-align: center; /* Center the text within the div */
  display: flex; /* Helps align the text and lines horizontally */
  align-items: center; /* Vertically aligns text with lines */
  max-width: 100%;
}

.hr-lines-login::before,
.hr-lines-login::after {
  content: ""; /* Required for pseudo-elements */
  flex-grow: 1; /* Makes the lines take up available space */
  background: rgb(191, 191, 191); /* Color of the lines */
  height: 1px; /* Thickness of the lines */
  margin: 0px 10px;
  width: 300px;
}

@media (min-width: 600px) and (max-width: 3000px) {
  .log-in {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .log-in {
    width: 100%;
    max-width: 100%;
  }

  .hr-lines-login {
    position: relative; /* Needed for positioning the pseudo-elements */
    text-align: center; /* Center the text within the div */
    display: flex; /* Helps align the text and lines horizontally */
    align-items: center; /* Vertically aligns text with lines */
    max-width: 100%;
  }

  .hr-lines-login::before,
  .hr-lines-login::after {
    content: ""; /* Required for pseudo-elements */
    flex-grow: 1; /* Makes the lines take up available space */
    background: rgb(191, 191, 191); /* Color of the lines */
    height: 1px; /* Thickness of the lines */
    margin: 0px 10px;
    width: 150px;
  }
}

@media (max-width: 599px) {
  .log-in {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .login-form{
    width: 100vw;
  }

  .hr-lines-login {
    position: relative; /* Needed for positioning the pseudo-elements */
    text-align: center; /* Center the text within the div */
    display: flex; /* Helps align the text and lines horizontally */
    align-items: center; /* Vertically aligns text with lines */
  }

  .hr-lines-login::before,
  .hr-lines-login::after {
    content: ""; /* Required for pseudo-elements */
    flex-grow: 1; /* Makes the lines take up available space */
    background: rgb(191, 191, 191); /* Color of the lines */
    height: 1px; /* Thickness of the lines */
    margin: 0px 10px;
    width: 150px;
  }
}
