.friends-filter {
  width: 350px;
  padding: 20px;
  height: fit-content;
}
.friends-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}

.friend-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter-actions {
  margin-bottom: 16px;
}

.clear-button {
  background-color: #007bff;
  width: 100%;
}
