.goal-modal {
  position: fixed;
  top: 50%;
  z-index: 1000;
  width: 30vw;
}
.goal {
  background-color: #ffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: black;
}

.goal-modal input[type="text"] {
  width: auto;
  margin: auto;
  padding: 10px 12px;
  font-size: 14px;
  border-radius: 8px;
}

.goal-modal h2 {
  display: flex;
  justify-content: center;
}

.goal-modal .save-button {
  margin-left: 10px;
  margin-right: 10px;
}

.goal-modal .cancel-button {
  background-color: #d0d0d0;
  margin: 0px 10px 10px 10px;
}
